.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  height: 100vh;
  background-color: black;
  color: yellow;
}

.welcome-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.login-button {
  background-color: yellow;
  color: black;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 50px;
}

.login-button:hover {
  background-color: #ffcc00;
}


.connected-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: yellow;
  padding-bottom: 40px;
}

.connected-header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.connected-account {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.connected-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 2rem;
}

.connected-button:hover {
  background-color: #0069d9;
}

.connected-contract-address {
  font-size: 1.2rem;
  text-align: center;
}


.candidates-table {
  border-collapse: collapse;
  width: 50%;
  text-align:center;
}

.candidates-table th, .candidates-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.candidates-table th {
  background-color: #f2f2f2;
}

input[type=number] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 10px;
}

.venues-container {
  display: flex; /* Use flexbox for the buttons */
  flex-direction: row; /* Arrange buttons horizontally */
  gap: 20px; /* Add spacing between buttons */
}

.voting-button {
  flex: 1; /* Equal width for buttons */
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

/* Styling for the selected button/square */
.selected {
  background-color: yellow;
  color: black;
  border-color: blue;
}

/* Styling for the venue image */
.venue-image {
  max-width: 500px;
  height: auto;
  margin-bottom: 10px;
}
